<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups/>
    <proxies/>
    <mirrors>
        <mirror>
            <id>cellwize-internal</id>
            <url>http://192.168.132.145:8081/nexus/repository/cellwize-internal/</url>
            <mirrorOf>cellwize-internal</mirrorOf>
        </mirror>
    </mirrors>
    <profiles/>
</settings>